<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>


 <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
</context-param>
<context-param>
    <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
    <param-value>-1</param-value>
</context-param>
 
 <servlet>
    <servlet-name>MailScheduler</servlet-name>
    <servlet-class>hr.shrubec.simulator.util.MailScheduler</servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
 
 <welcome-file-list>
<welcome-file>simulation.jsf</welcome-file>
</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/error_page.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error_page.jsf</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error_page.jsf</location>
	</error-page>
 
 
</web-app>
